.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Banner {
    background-image: url('../images/Banner.svg');
    background-size:contain;
    width: 1392px;
    height: 700px;
    margin-top:32px;
    padding: 112px 24px 0px 24px;
}